body {
    background: #caf0fa;
}

#logo {
    width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#current-header {
    text-align: left;
    color: #023e8a;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 22px;
}

#search-header {
    color: #023e8a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    justify-content: center;
    color: #023e8a;
}

::placeholder {
    color: #023e8a;
}

.hidden {
    display: none;
}

#name {
    text-align: center;
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #023e8a;
}

.movie-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 350px;
    background-size: cover;
    border-radius: 20px;
}

#search-input {
    height: 20px;
    width: 350px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #ade8f4;
    color: #023e8a;
    border-radius: 40px;
    padding-left: 15px;
    vertical-align: center;
}

#search-area {
    display: flex;
    justify-content: center;
}

#clicker {
    background-color: #00b4d8;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #023e8a;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.15385;
    margin-left: 10px;
    margin-top: 5px;
    padding: 8px 0.8em;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 35px;
    width: 100px;
}

#clicker:hover,
#clicker:focus {
    background-color: #07c;
}

#clicker:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

#clicker:active {
    background-color: #023e8a;
    box-shadow: none;
}

.movie-card {
    padding: 5px;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    background: #00b4d8;
    margin: 5px;
    border-radius: 10px;
}

#movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-flow: column wrap;
}

.movie-title {
    font-style: normal;
    text-align: center;
    color: #023e8a;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 18px;
}

#load-more-movies-btn {
    display: flex;
    background-color: #00b4d8;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #023e8a;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.15385;
    margin-top: 20px;
    padding: 8px 0.8em;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 35px;
}

#load-more-movies-btn:hover,
#load-more-movies-btn:focus {
    background-color: #07c;
}

#load-more-movies-btn:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

#load-more-movies-btn:active {
    background-color: #023e8a;
    box-shadow: none;
}

#director {
    height: 20px;
    width: 20px;
}

.vote-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.movie-votes {
    font-style: italic;
    text-align: center;
    color: #023e8a;
    font-size: 16px;
    margin: 0px;
    margin-left: 5px;
}

#close-search-btn {
    background-color: #00b4d8;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #023e8a;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.15385;
    margin-right: 30px;
    margin-top: 18px;
    padding: 8px 0.8em;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 35px;
}

#close-search-btn:hover,
#close-search-btn:focus {
    background-color: #07c;
}

#close-search-btn:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

#close-search-btn:active {
    background-color: #023e8a;
    box-shadow: none;
}

#search-space {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#show-more-area {
    display: flex;
    justify-content: center;
}

#search-show {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 19px;
}

#now-showing {
    margin-bottom: 10px;
}